@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

header {
    background-color: #1775FF;
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a {
    margin-right: 25px;
}
a {
    text-decoration: none;
}
.guidelinks {
    display: inline-block;
    background-color: yellow;
    padding: 12px 32px;
    border-radius: 3px;
    border: 5px dashed white;
}
.textboxlinks {
    color: red;
}
h1 {
    font-family: 'Balsamiq Sans', cursive;
    color: white;
    font-weight: bold;
    font-size: 30px;
}
p {
    font-family: 'Balsamiq Sans', cursive;
    color: white;
    font-weight: bold;  
}
#terralogo {
    width: 254px;
    height: 62px;
}
body {
    margin: 0;
    background-image: url(images/texturepack\ website\ background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#emptyspace {
    height: 120px;
}
#introtextbox {
    background-image: url(images/bluetextboxpxl.png);
    background-repeat: no-repeat;
    padding: 15%;
    margin: 0 5%;
    text-align: center;
}
#screenshot1 {
    display: flex;
    justify-content: center;
    background-image: url(images/white\ guides\ pattern.png);
    background-attachment: fixed;
    padding: 3%;
    margin: 5px 5%;
    border: 10px black solid;
}
#TConverttextbox {
    background-image: url(images/bluetextboxpxl\ long.png);
    background-repeat: no-repeat;
    padding: 21%;
    margin: 0 5%;
    text-align: center;
}
#screenshot2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(images/white\ guides\ pattern.png);
    background-attachment: fixed;
    padding: 3%;
    margin: 5px 5%;
    border: 10px black solid;
}
#howtospritetextbox {
    background-image: url(images/bluetextboxpxl\ long.png);
    background-repeat: no-repeat;
    padding: 19%;
    margin: 0 5%;
    text-align: center;
}
#screenshot3 {
    display: flex;
    justify-content: space-around;
    background-image: url(images/white\ guides\ pattern.png);
    background-attachment: fixed;
    padding: 3%;
    margin: 5px 5%;
    border: 10px black solid;
}
#howtospritenpctextbox {
    background-image: url(images/bluetextboxpxl\ long.png);
    background-repeat: no-repeat;
    padding: 22%;
    margin: 0 5%;
    text-align: center;
}
#screenshot4 {
    display: flex;
    justify-content: center;
    background-image: url(images/white\ guides\ pattern.png);
    background-attachment: fixed;
    padding: 3%;
    margin: 5px 5%;
    border: 10px black solid;
}
#howtospritesegmentstextbox {
    background-image: url(images/bluetextboxpxl.png);
    background-repeat: no-repeat;
    padding: 15%;
    margin: 0 5%;
    text-align: center;
}
#screenshot5 {
    display: flex;
    justify-content: center;
    background-image: url(images/white\ guides\ pattern.png);
    background-attachment: fixed;
    padding: 3%;
    margin: 5px 5%;
    border: 10px black solid;
}
#howtospritetilestextbox {
    background-image: url(images/bluetextboxpxl\ long.png);
    background-repeat: no-repeat;
    padding: 21.9%;
    margin: 0 5%;
    text-align: center;
}
#screenshot6 {
    display: flex;
    justify-content: center;
    background-image: url(images/white\ guides\ pattern.png);
    background-attachment: fixed;
    padding: 3%;
    margin: 5px 5%;
    border: 10px black solid;
}
#howtospritelogostextbox {
    background-image: url(images/bluetextboxpxl.png);
    background-repeat: no-repeat;
    padding: 15%;
    margin: 0 5%;
    text-align: center;
}
#screenshot7 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-image: url(images/white\ guides\ pattern.png);
    background-attachment: fixed;
    padding: 3%;
    margin: 5px 5%;
    border: 10px black solid;
}
#texturepackfolderconfigtextbox {
    background-image: url(images/bluetextboxpxl\ long.png);
    background-repeat: no-repeat;
    padding: 18.9%;
    margin: 0 5%;
    text-align: center;
}
#screenshot8 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url(images/white\ guides\ pattern.png);
    background-attachment: fixed;
    padding: 3%;
    margin: 5px 5%;
    border: 10px black solid;
}
#texturepackmenutextbox {
    background-image: url(images/bluetextboxpxl.png);
    background-repeat: no-repeat;
    padding: 14%;
    margin: 0 5%;
    text-align: center;
}
#screenshot9 {
    display: flex;
    justify-content: center;
    background-image: url(images/white\ guides\ pattern.png);
    background-attachment: fixed;
    padding: 3%;
    margin: 5px 5%;
    border: 10px black solid;
}
#texturepackingametextbox {
    background-image: url(images/bluetextboxpxl.png);
    background-repeat: no-repeat;
    padding: 16%;
    margin: 0 5%;
    text-align: center;
}
#forquestions {
    padding: 2%;
    display: flex;
    justify-content: center;
}
footer {
    background-color: darkgreen;
    padding: 5px 0; 
    color: white;
    text-align: center;
}
